<div class="container">
  <h1>Dashboard</h1>
  <h3>My Instruments</h3>
  <p>
    <%= link_to "Add an instrument", new_instrument_path , class: "btn-add" %>
  </p>
  <ul>
    <% @instruments.each do |instrument| %>
    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <div class="card" style="background-image: url(<%= cl_image_path instrument.image %>);">
          <p><strong><%= instrument.title %></strong></p>
          <!-- ajouter ici les infos de rating moyen + nombre de bookings -->
        </div>
        <%= link_to "edit", edit_instrument_path(instrument) , class: "btn-push" %>
        <% end %>
      </ul>
      </div>
    </div>
  </div>
