

.container-instrument{
  display: flex;
  justify-content : space-around;
}

/* We just give you a Gmaps with random width/height */
#validation {
  /*width: 30%;*/
  flex : 0 0 450px;
  height: 50vh;
  position: sticky !important; /* !important to override Gmaps inline CSS */
  top: 0 !important;
}

.large-button{
  padding: 20px 60px;
  margin-top: 50px;
  margin-bottom: 50px;
  font-weight: bold;
}

.center{
  text-align: center;
}

.main-container{
    display: flex;
    justify-content : space-around;
}

.cards-container{
  flex: 1 1 auto;
  border: 1px solid black;
  padding-right: 10px;
}

#map {
  flex : 0 0 450px;
  height: 100vh;
  position: sticky !important; /* !important to override Gmaps inline CSS */
  top: 0 !important;
}

.max-width{
  width: 100%;
}

.head-form{
  margin-top: 20px;
  display: flex;
  justify-content : space-around;
}
