.container{

}
.instrument-form {
  text-align: left;
  color: white;
  display: inline-flex;
  font-style: italic;
}
.btn-secondpage {
  background-color: #8D8F93;
  padding: 2px 5px;
  border-radius: 12px;
  font-weight: bold;
  opacity: 1;
}
.btn-secondpage:hover{
  text-decoration: inherit;
  color: lightgrey;
}


/* We just give you a Gmaps with random width/height */
#validation {
  /*width: 30%;*/
  flex : 0 0 450px;
  height: 50vh;
  position: sticky !important; /* !important to override Gmaps inline CSS */
  top: 0 !important;
}

.cards-container{
  flex: 1 1 auto;
}
